# Misc Editors
*.autosave
.*.swp
.*.swo
*~

# Images
*.png
*.dot

# examples

# Eclipse
TAGS
.metadata
.paths
.project
.projectSettings
.settings

# OCaml
*.cma
*.cmi
*.cmo
*.cmx
*.o
_build
*.native
*.byte


# Mac Rubbish
.DS_Store

config/config.xml
src/localconfig.ml
src/formula_parser/formula_lexer.ml
src/formula_parser/formula_parser.ml
src/formula_parser/formula_parser.mli
tests/dot

rosette/compiled

# Compilation specific
*.xml
example.jsil
src/pulp/SJSIL/translation_runtime/output.txt