<head>
  <meta charset="utf-8" />
  <title>JSIL and JSVerify</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" type="text/css" href="styles/built-editor.css"/>
  <link rel="stylesheet" href="styles/foundation.min.css">
  <script src="libs/yui-min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/style2.css"/>
</head>

<body>


  <div class="row full-width">
  <!-- Navigation bar -->
  <div class="row full-width">
    <div class="twelve columns">
      <nav class="top-bar">
        <ul>
          <li class="name">
             <h1><a href="../index.html">JSIL and JaVerT</a></h1>
          </li>
        </ul>
        <section>
          <ul class="right">
            <li class="divider show-for-medium-and-up"></li>
            <li class="has-dropdown">
              <a href="/">Demo</a>
              <ul class="dropdown">
                <li><label>JSIL</label></li>
                <li><a href="/js2jsil">JS-2-JSIL</a></li>
                <li><a href="/javert">JaVerT</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="../doc/index.html">Documentation</a>
              <ul class="dropdown">
                <li><a href="/docs/main.pdf">Paper</a></li>
                <li><a href="/docs/supplemental_materials.pdf">Compiler proof</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  {{{body}}}

   <!-- Footer -->

  <div class="row full-width">
  </div>

<!--
  <div class="row copyright full-width">
    <div class="six columns">
      <p>JSIL and JSVerify are developed by the <a href="http://psvg.doc.ic.ac.uk">Program Specification
        and Verification Group</a> at <a href="https://www.imperial.ac.uk">Imperial College London</a>.</p>
    </div>
    <div class="six columns">
      <ul class="link-list right">
        <li><a href="https://github.com/resource-reasoning/JS_Symbolic_Debugger">GitHub</a></li>
      </ul>
    </div>
  </div>
-->

</div>
<script type="text/javascript" src="controllers/utils.js"> </script>
<script type="text/javascript" src="libs/jquery-1.9.0.min.js"> </script>
<script src="libs/esprima.js"></script>
<script src="libs/escodegen.browser.js"></script>
<script src="libs/esmangle.browser.js"></script>
<script src="libs/built-editor.min.js"></script>
<script src="libs/customeditor.js"></script>
</body>
</html>
