<!-- Title and subtitle -->
  <div class="row">
    <div class="twelve columns">
      <h3 class="subheader"><strong>JaVerT</strong>: JavaScript Verification Toolchain</h3>
    </div>
  </div>

  <!-- Main content -->
<div class="row">
    <div class="six columns">

    <pre id="editor" spellcheck="false" style="height: 350px">// Est modus in rebus</pre>
    <div id="info" class="alert-box secondary">Ready.</div>
     <input class="small radius button secondary right" type="button" id="btn-javert" value="Verify" />
     <br /> <br />
     <label>Example:</label><select id="select-example"> </select>
    </div>

    <div class="six columns">
     <dl class="tabs">
        <dd id="show_verification_output" class="active"><a href="#">JaVerT Output</a></dd>
        <dd id="show_jsil_output"><a href="#">JSIL Output</a></dd>
        <dd id="show_symb_graph"><a href="#">Symb Graph</a></dd>
     </dl>
     <ul class="tabs-content">

        <li class="active" id="tab_verification_output">
          <div class="resizable">
           <textarea wrap="off" id="ta_verification_output" rows="20" readonly></textarea>
          </div>
        </li>

        <li id="tab_jsil_output">
         <div class="resizable">
          <textarea wrap="off" id="ta_jsil_output" rows="20" readonly></textarea>
         </div>
        </li>

        <li id="tab_symbolic_graph">
           <div class="resizable">
           </div>
        </li>

     </ul>
    </div>
  </div>

  <script src="controllers/javert-client.js"></script>
