<!-- Title and subtitle -->
  <div class="row">
    <div class="twelve columns">
      <h3 class="subheader"><strong>JaVerT</strong>: JavaScript Verification Toolchain</h3>
    </div>
  </div>

  <!-- Main content -->
  <div class="row">
    <div class="twelve columns" style="padding-bottom:2em">

    <pre id="editor" spellcheck="false" style="height: 300px">// Est modus in rebus</pre>
    <div id="info" class="alert-box secondary">Ready.</div>
    <div class ="three columns">
     <label>Select an example:</label><select id="select-example"> </select> 
    </div>
      <input class="small radius button secondary" style="margin-top:8px" type="button" id="btn-javert" value="Verify" />
    </div>
    
    <div class="twelve columns">
     <dl class="tabs">
        <dd id="show_verification_output" class="active"><a href="#">JaVerT Output</a></dd>
        <dd id="show_jsil_output"><a href="#">JSIL Output</a></dd>
     </dl>
     <ul class="tabs-content" style="height:6400px">

        <li class="active" id="tab_verification_output">
          <div>
           <textarea wrap="off" id="ta_verification_output" rows="50" readonly></textarea>
          </div>
        </li>

        <li id="tab_jsil_output">
         <div>
          <textarea wrap="off" id="ta_jsil_output" rows="50" readonly></textarea>
         </div>
        </li>
     </ul>
    </div>
  </div>

  <script src="controllers/javert-client.js"></script>
